<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Make Change</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			* {
			  box-sizing: border-box;
			}

			body {
			  font-family: Arial, Helvetica, sans-serif;
			}

			/* Style the header */
			header {
			  background-color: #666;
			  padding: 30px;
			  text-align: center;
			  font-size: 35px;
			  color: white;
			}

			/* Container for flexboxes */
			section {
			  display: -webkit-flex;
			  display: flex;
			}

			/* Style the navigation menu */
			nav {
			  -webkit-flex: 1;
			  -ms-flex: 1;
			  flex: 1;
			  background: #ccc;
			  padding: 20px;
			}

			/* Style the list inside the menu */
			nav ul {
			  list-style-type: none;
			  padding: 0;
			}

			/* Style the content */
			article {
			  -webkit-flex: 3;
			  -ms-flex: 3;
			  flex: 3;
			  background-color: #f1f1f1;
			  padding: 10px;
			}

			/* Style the footer */
			footer {
			  background-color: #777;
			  padding: 10px;
			  text-align: center;
			  color: white;
			}

			/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
			@media (max-width: 600px) {
			  section {
			    -webkit-flex-direction: column;
			    flex-direction: column;
			  }
			}
		</style>
	</head>
	<body>

		<header>
		  <h2>Make Change</h2>
		</header>

		<section>
		  <nav>
		    <ul>

		    </ul>
		  </nav>
		  
		  <article>
				<form action="/en/make_change" method="post">
				  Total Cost:<br>
				  <input type="text" name="totalcost" required>
				  <br>
				  Amount Provided:<br>
				  <input type="text" name="amountprovided" required>
				  <br><br>
				  <input type="submit" value="Submit">
				</form>
				{% if change is defined %}
					<br />
					Total Cost: ${{ totalcost }} <br />
					Amount Provided: ${{ amountprovided }}<br />
					{% if change == 0 %}
							<br />
							Amount provided is less than Total Cost
					{% else %}
						<ul>
				    {% for amount in change %}
				    		{% if amount.value < 1 %}
				    				<li>{{ amount.amount }} ${{ amount.value }} Coins</li>
				    		{% else %}
				    				<li>{{ amount.amount }} ${{ amount.value }} Bills</li>
				    		{% endif %}
				    {% endfor %}
				    </ul>
			    {% endif %}
			  <br />
				{% endif %}
		  </article>
		</section>

		<footer>
			&nbsp;
		</footer>

	</body>
</html>